<div class="navbar bg-blue-400 h-14 flex justify-between fixed w-full z-50">
    <div class="nav-left flex items-center py-2">
        <i class="fa-solid fa-bars mx-5 md:hidden"></i>
        <img src="/assets/logo.svg" class="h-7 md:px-4" alt="">
    </div>
    <div class="nav-right flex items-center">
        <ul class="flex space-x-9 mx-2">
            <li><i class="fa-regular fa-folder-open"></i></li>
            <li><i class="fa-solid fa-calendar-days"></i></li>
            <li><i class="fa-regular fa-comments"></i></li>
            <li><i class="fa-regular fa-envelope"></i></li>
            <li><i class="fa-regular fa-bell"></i></li>
            <li><i class="fa-solid fa-sliders"></i></li>
            <li><i class="fa-solid fa-arrow-right-from-bracket"></i></li>
        </ul>
    </div>
</div>
