<app-dashboard-head></app-dashboard-head>

<div class="iot-chart flex pt-3">
    <div class="w-1/3 rounded-2xl overflow-hidden h-30 mx-3 bg-white shadow-md">
        <div class="m-4">



            <div class="font-bold text-lg ">ENERGY USE
            </div>

            <div class="num mb-8 pt-3">
                <p class="text-xl font-bold">
                    250 kw/h

                </p>
                <span class="text-xs font-normal text-slate-600">
                    89% compared to average monthly use

                </span>
            </div>
         
           
        </div>
        <div class="w-full h-16">
            <app-energyuse-chart></app-energyuse-chart>
        </div>
    </div>
    
    <div class="w-1/3 rounded-2xl overflow-hidden h-30 mx-3 bg-white shadow-md">
        <div class="m-5">



            <div class="font-bold text-lg ">LIGHTS
            </div>

            <div class="num mb-8 pt-3">
                <p class="text-xl font-bold">
                    6 Lights are ON

                </p>
                <span class="text-xs font-normal text-slate-600">
                    5% less than daily average

                </span>
            </div>
         
           
        </div>
        <div class="w-full h-16">
            <!-- <app-energyuse-chart></app-energyuse-chart>
             -->
             <app-lights-chart></app-lights-chart>
        </div>
    </div>
    <div class="w-1/3 rounded-2xl overflow-hidden h-30 mx-3 bg-white shadow-md">
        <div class="m-5">



            <div class="font-bold text-lg ">DAILY AVG TEMPRATURE
            </div>

            <div class="num mb-8 pt-3">
                <p class="text-xl font-bold">
                    20° C

                </p>
                <span class="text-xs font-normal text-slate-600">
                    Outside Avg temprature is 32° C

                </span>
            </div>
         
           
        </div>
        <div class="w-full h-16">
            <app-temp></app-temp>
        </div>
    </div>
</div>
<app-security>
    
</app-security>





