<div class="timeline-row rounded-lg shadow-lg bg-white mt-5 ml-3">
  <div class="timeline-head p-5">
    <p class="text-xl">Lucid Activities</p>
  </div>

  <ol class="relative border-l w-full border-gray-200 dark:border-gray-700 m-4 pb-16">
    <li class="mb-10 ml-4">
      <div
        class="absolute w-4 h-4 rounded-full mt-1.5 -left-1.5 border-4 border-green-600 dark:border-gray-900 dark:bg-gray-700"
      ></div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >20-04-2018 - Today</time
      >
      <h1 class="text-lg font-semibold text-gray-900 dark:text-white">
        Hello, 'Im a single div responsive timeline without media Queries!
      </h1>
      <p class="mb-4 text-base font-normal dark:text-gray-400">
        <a class="text-blue-400" href="">Elisse Joson </a>
        San Francisco, CA
      </p>
      <p>
        I'm speaking with myself, number one, because I have a very good brain
        and I've said a lot of things. I write the best placeholder text, and
        I'm the biggest developer on the web card she has is the Lorem card.
      </p>
      <div class="like-comment-icons flex">
        <div class="like flex text-blue-700 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-heart"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
            ></path>
          </svg>
          <p>Like</p>
        </div>

        <div class="pl-3 comment flex text-blue-600 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-message-circle-2"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path>
          </svg>
          <p>Comment</p>
        </div>
      </div>
    </li>
    <li class="mb-10 ml-4">
      <div
        class="absolute w-4 h-4 rounded-full mt-1.5 -left-1.5 border-4 border-blue-500 dark:border-gray-900 dark:bg-gray-700"
      ></div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >20-04-2018 - Today</time
      >
      <h1 class="text-lg font-semibold text-gray-900 dark:text-white">
        Hello, 'Im a single div responsive timeline without media Queries!
      </h1>
      <p class="mb-4 text-base font-normal dark:text-gray-400">
        <a class="text-blue-400" href="">Elisse Joson </a>
        San Francisco, CA
      </p>
      <p>
        I'm speaking with myself, number one, because I have a very good brain
        and I've said a lot of things. I write the best placeholder text, and
        I'm the biggest developer on the web card she has is the Lorem card.
      </p>
      <div class="like-comment-icons flex">
        <div class="like flex text-blue-700 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-heart"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
            ></path>
          </svg>
          <p>Like</p>
        </div>

        <div class="pl-3 comment flex text-blue-600 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-message-circle-2"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path>
          </svg>
          <p>Comment</p>
        </div>
      </div>
    </li>
    <li class="ml-4">
      <div
        class="absolute w-4 h-4 rounded-full mt-1.5 -left-1.5 border-4 border-orange-500 dark:border-gray-900 dark:bg-gray-700"
      ></div>
      <time
        class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500"
        >20-04-2018 - Today</time
      >
      <h1 class="text-lg font-semibold text-gray-900 dark:text-white">
        Hello, 'Im a single div responsive timeline without media Queries!
      </h1>
      <p class="mb-4 text-base font-normal dark:text-gray-400">
        <a class="text-blue-400" href="">Elisse Joson </a>
        San Francisco, CA
      </p>
      <p>
        I'm speaking with myself, number one, because I have a very good brain
        and I've said a lot of things. I write the best placeholder text, and
        I'm the biggest developer on the web card she has is the Lorem card.
      </p>
      <div class="like-comment-icons flex">
        <div class="like flex text-blue-700 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-heart"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"
            ></path>
          </svg>
          <p>Like</p>
        </div>

        <div class="pl-3 comment flex text-blue-600 items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-message-circle-2"
            width="18"
            height="18"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path>
          </svg>
          <p>Comment</p>
        </div>
      </div>
    </li>
  </ol>
</div>
